.order-icon {
        background-image: url('/Assets/Sprites/white rect.png');
        -unity-background-image-tint-color: rgba(217, 199, 199, 255);
        width: 177px;
        height: 100px;
        justify-content: center;
        align-items: center;
        }

        .order-label {
        color: rgba(0, 0, 0, 255);
        font-size: 36px;
        -unity-text-align: middle-center;
        }
